@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .theme-colors {
    @apply bg-stone-50 text-neutral-900
  }

  .app {
    @apply theme-colors min-h-screen w-screen
    flex flex-col items-center justify-between
  }

  /* Buttons */

  .btn {
    @apply text-xl font-medium rounded px-6 py-2 
    drop-shadow-lg transition-all duration-300
  }

  .btn-primary {
    @apply bg-blue-900 text-slate-50
    hover:bg-blue-700
  }

  .btn-secondary {
    @apply bg-pink-600 text-slate-50
    hover:bg-pink-500
  }

  /* Header */

  .header {
    @apply w-10/12 py-3
    flex items-center justify-between
  }

  .header-link {
    @apply text-xl hover:text-pink-600
    transition-all duration-300
  }

  /* Hero Banner */

  .hero {
    @apply bg-white relative
    w-full lg:h-hero lg:min-h-0 min-h-bannerSmall
  }

  .banner-container {
    @apply lg:absolute bottom-0 right-0
    lg:h-banner lg:w-3/5 w-full
    lg:pt-5 lg:pl-5
  }

  .banner-content {
    @apply lg:bg-white lg:static absolute
    lg:text-inherit text-white
    h-full lg:h-5/6 w-full lg:w-1/2
    lg:p-12 xl:pr-52 lg:pr-32 sm:px-14 px-10
    flex items-center lg:items-start justify-center flex-col gap-3
  }

  .banner-img {
    @apply object-cover w-full h-full lg:min-h-0 min-h-bannerSmall
  }

  .arrow-btns {
    @apply banner-container flex justify-between items-center
    lg:static absolute bottom-1/2
  }

  .dot-btns {
    @apply absolute bottom-5 lg:bottom-0 left-0 lg:h-1/6 lg:w-2/5 w-full
    flex items-center justify-center gap-2 
  }

  .slider-dot {
    @apply bg-gray-400 hover:bg-gray-500 opacity-50
    rounded-full block h-3.5 w-3.5
    transition-all duration-200
  }

  .slider-dot.active {
    @apply bg-blue-900 opacity-100 hover:bg-blue-700
  }

  /* Product Sections */

  .product-section {
    @apply flex flex-col items-center gap-2 w-full
    px-4 sm:px-10 lg:px-28 py-32 
  }

  .product-grid {
    @apply grid grid-cols-2 md:grid-cols-3 gap-4 sm:gap-8 pt-10
  }
}
